*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
}

/*  pas de befor/after dans les images, la balise est auto fermante du coup pas possible ! */
/*  vh pour rendre tout en longueur par exemple tout en rouge exemple : height : 100vh et 100vw pour la largeur  */
/* befor / after d'office mettre content meme si il reste vide  */